div.css-434r0z.e1tzin5v4 {
    background-color: #FFA500 ;
    border: 1px solid #6666 ;
    text-align: left ;
    margin: 12px ;

}    
h1 {
    text-align: center;
}
p {
    text-align: center;
}
h2 {
    background-color: #FFA500 ;
}